    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{title }}</a> <!-- uppercase-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container">
<!--
        <form novalidate [formGroup]="ngForm">
        <div class="form-group">
        <strong>name</strong>
        <select class="form-control"
              name="name"
              [(ngModel)]="name">
        <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <strong>Item</strong>
      <select class="form-control"
              name="name"
              [(ngModel)]="name">
        <option *ngFor="let term of completed"
                [value]="term">{{ term }}</option>
      </select>
    </div>

      <h2> User </h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | tableFilter: form.value">
            <th scope="row">{{user.id}}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.username | uppercase }}</td> 
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <button (click)="onEdit(user.id, 'users')" type="button" class="btn btn-secondary">Edit</button>
              <button (click)="onRemove(user.id, 'users')" type="button" class="btn btn-danger">Remove</button>

            </td>
          </tr>
        </tbody>
      </table>
    </form>
  -->
  <div class="register-form">  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">    
      <div class="form-group">      
        <label>title</label>      
        <input type="text"        
          formControlName="users"        
          class="form-control"        
         /> 
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">             
            <label>users</label>      
                
          </div>
      <div class="form-group">      
        <label>todos</label>      
          
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
    </div>
    <div class="container">
      <h2> Todo </h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">userId</th>
                <th scope="col">completed</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todo of todos">
                <th scope="row">{{todo.id}}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.userId }}</td>
                <td>{{ todo.completed }}</td>
                <td>
                  <button  type="button" class="btn btn-secondary">Edit</button> <!-- (click)="onEdit(todo.id, 'items')" -->
                  <button  type="button" class="btn btn-danger">Remove</button> <!-- (click)="onRemove(todo.id, 'items')" -->

                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="container">
      <form  (ngSubmit)="onSubmit()"> <!-- [formGroup]="todoItem" -->

        <label for="username">Name of the user: </label>
          <select class="form-control"
            id="username"
            formControlName="userName"
            required
          >
            <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
          </select>

        <label for="title">Title of the task : </label>
        <input type="text" id="title" name="title" class="form-control"
              required minlength="4" formControlName="title">

        <div *ngIf="title.invalid && (title.dirty || title.touched)"
            class="alert">

          <div *ngIf="title.errors?.['required']">
            title is required.
          </div>
          <div *ngIf="title.errors?.['minlength']">
            title must be at least 4 characters long.
          </div>
        </div>

        <select class="form-control"
          id="completed"
          formControlName="completed"
          required
        >
          <option [value]="true">true</option>
          <option [value]="false">false</option>
        </select>

        <button type="submit" [disabled]="!todoItem.valid">Submit</button>
      </form>
    </div>

